@model Department

@{
    ViewData["Title"] = "التفاصيل";
}

<h3 class="mb-5"> تفاصيل قسم @Model.Name</h3>

<div class="row client-info card p-3">
    <div class="row client-info-container">
        <div class="client-info-box col-md-4">
            <h5 class="m-0 info-header">الاسم</h5>
            <h5 class="m-0 info">@Model.Name </h5>
        </div>
        <div class="client-info-box col-md-4">
            <h5 class="m-0 info-header">تاريخ الانشاء</h5>
            <h5 class="m-0 info">@Model.CreatedAt</h5>
        </div>
        <div class="client-info-box col-md-4">
            <h5 class="m-0 info-header">تم الانشاء بواسطة</h5>
            <h5 class="m-0 info">@Model.CreatedBy</h5>
        </div>
    </div>


    <div class="client-info-container align-items-center row mt-2">
        <div class="client-info-box client-notes col-sm-12 col-md-9 p-0">
            <h5 class="info-header">تم التعديل بواسطة</h5>
            <h5 class="m-0 info">@Model.ModifiedBy </h5>
        </div>
    </div>

</div>

<div class="row">
    
<h4 class="mt-5">الموظفين</h4>
<div class="card row mt-2">
<div class="d-flex justify-content-end align-items-center">
    <div class='col-xs-8 col-sm-7 col-md-4 col-lg-3 m-3'>
        <div class='navbar-form'>
            <div class='input-group tabel-search-box'>
                <input id="searchInput" class='form-control table-search' type='text' data-search="search-input" placeholder='إبحث بإسم القسم' />
                <button id="button-addon1" type='button' class='btn table-search d-flex'>
                    <i class="fas fa-search"></i>
                </button>
            </div>
        </div>
    </div>
</div>

  <div class="table-responsive">
    <table class="table align-items-center mb-0">
      <thead>
        <tr class="text-dark">
          <th class="text-dark fs-5 font-weight-bolder">اسم الموظف</th>
          <th class="text-dark fs-5 font-weight-bolder">رقم تلفون</th>
          <th class="text-dark fs-5 font-weight-bolder">رقم تلفون</th>
        </tr>
      </thead>
      <tbody>
                @foreach(var record in Model.Users)
                {
                    <tr>
                      <td>
                        <div class="d-flex px-2">
                          <div class="my-auto">
                            <h6 class="mb-0 fs-5">@record.FirstName @record.LastName</h6>
                          </div>
                        </div>
                      </td>
                      <td>
                        <p class="fs-5 font-weight-normal mb-0">@record.PhoneNumber</p>
                      <td class="align-middle">
                              <a class="text-secondary font-weight-bold text-xs" asp-area="" asp-action="detailsOfEmployee" asp-controller="Account" asp-route-userId="@record.Id">
                                <span class="material-symbols-outlined">
                                  <i title="تفاصيل" class="material-icons-round opacity-10">info</i>
                                </span>
                              </a>

                        <a class="text-secondary font-weight-bold text-xs" href="">
                            <span class="material-symbols-outlined">
                              <i title="مسح" class="material-icons-round opacity-10" onclick="del(event,@record.Id)">delete</i>
                            </span>
                          </a> 
                          </td>
                </tr>

                }
      </tbody>
    </table>
  </div>
  </div>

</div>
