@inject SignInManager<BaseUser> signinManager
@inject UserManager<BaseUser> userManager
@{ 
    var user = await userManager.GetUserAsync(User);
    bool isLogged = signinManager.IsSignedIn(User);
}

<!DOCTYPE html>
<html lang="ar" dir="rtl">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>
      @ViewData["Title"] -
    أصداف أبحر العقارية
  </title>
  <!--     Fonts and icons     -->
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900|Roboto+Slab:400,700" />
  <!-- Nucleo Icons -->
  <link href="/css/nucleo-icons.css" rel="stylesheet" />
  <link href="/css/nucleo-svg.css" rel="stylesheet" />
  <link href="~/limonte-sweetalert2/sweetalert2.css">

  <!-- Font Awesome Icons -->
  <script src="https://kit.fontawesome.com/42d5adcbca.js" crossorigin="anonymous"></script>
  <!-- Material Icons -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Round" rel="stylesheet">
  <!-- CSS Files -->
  <link id="pagestyle" href="/css/material-dashboard.css?v=3.0.4" rel="stylesheet" />

    @RenderSection("Styles", required: false)
</head>

<body class="g-sidenav-show rtl bg-gray-200">
  
    
    @if (isLogged)
    {

          <partial name="_RightSideBar.cshtml" />
    }
  <main class="main-content position-relative max-height-vh-100 h-100 border-radius-lg overflow-x-hidden">
    <!-- Navbar -->
    <nav class="navbar navbar-main navbar-expand-lg px-0 mx-4 shadow-none border-radius-xl" id="navbarBlur" data-scroll="true">
      <div class="container-fluid py-1 px-3">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb bg-transparent mb-0 pb-0 pt-1 px-0 ">
            @if (isLogged)
            {
                            
                <li class="breadcrumb-item text-sm ps-2"><a class="opacity-5 text-dark" href="javascript:;">لوحة القيادة</a></li>
            }
          </ol>
        </nav>
        <div class="collapse navbar-collapse mt-sm-0 mt-2 px-0" id="navbar">
          <ul class="navbar-nav me-auto ms-0 justify-content-end">
            @if (!isLogged)
            {
                <li class="nav-item d-flex align-items-center">
                  <a asp-area="" asp-action="Login" asp-controller="Account" class="nav-link text-body font-weight-bold px-0">
                    <i class="fa fa-user me-sm-1"></i>
                    <span class="d-sm-inline d-none">يسجل دخول</span>
                  </a>
                </li>
            }else{
                <li class="nav-item d-flex align-items-center">
                  <a href="/" class="nav-link text-body font-weight-bold px-0">
                    <i class="fa fa-user me-sm-1"></i>
                    <span class="d-sm-inline d-none">مرحبا @User.FindFirst("fullName").Value</span>
                  </a>
                </li>
            }
            <li class="nav-item d-xl-none pe-3 d-flex align-items-center">
              <a href="javascript:;" class="nav-link text-body p-0" id="iconNavbarSidenav">
                <div class="sidenav-toggler-inner">
                  <i class="sidenav-toggler-line"></i>
                  <i class="sidenav-toggler-line"></i>
                  <i class="sidenav-toggler-line"></i>
                </div>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <!-- End Navbar -->
    <div class="container-fluid py-4">
      @RenderBody()
    
            @if (!isLogged)
            {
                    <partial name="_Footer.cshtml" />
               
            }

    </div>
  </main>
  
  <script src="~/limonte-sweetalert2/sweetalert2.all.js" asp-append-version="true" ></script>


  <!--   Core JS Files   -->
  <script src="~/jquery/jquery.js" ></script>
  <script src="~/js/core/popper.min.js"></script>
  <script src="~/js/core/bootstrap.min.js"></script>
  <script src="~/js/plugins/perfect-scrollbar.min.js"></script>
  <script src="~/js/plugins/smooth-scrollbar.min.js"></script>

  <script>
    var win = navigator.platform.indexOf('Win') > -1;
    if (win && document.querySelector('#sidenav-scrollbar')) {
      var options = {
        damping: '0.5'
      }
      Scrollbar.init(document.querySelector('#sidenav-scrollbar'), options);
    }
  </script>

  <!-- Github buttons -->
  <script async defer src="https://buttons.github.io/buttons.js"></script>

  <!-- Control Center for Material Dashboard: parallax effects, scripts for the example pages etc -->
  <script src="~/js/material-dashboard.min.js?v=3.0.4"></script>
  
  @RenderSection("Scripts", required: false)
</body>

</html>