@inject SignInManager<BaseUser> signinManager
@inject UserManager<BaseUser> userManager
@{ 
    var user = await userManager.GetUserAsync(User);
    bool isLogged = signinManager.IsSignedIn(User);
}

<!DOCTYPE html>
<html lang="ar" dir="rtl">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>
      @ViewData["Title"] -
    أصداف أبحر العقارية
  </title>
    <link rel="shortcut icon" href="#">
  <!--     Fonts and icons     -->
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900|Roboto+Slab:400,700" />
  
  <!--SweerAlert2-->
  <link href="~/limonte-sweetalert2/sweetalert2.css">

   <!--     Fonts and icons     -->
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900|Roboto+Slab:400,700" />
  <!-- Nucleo Icons -->
  <link href="~/assets/css/nucleo-icons.css" rel="stylesheet" />
  <link href="~/assets/css/nucleo-svg.css" rel="stylesheet" />
  <!-- Font Awesome Icons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css" integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- Material Icons -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Round" rel="stylesheet">
  <!-- CSS Files -->
  <link id="pagestyle" href="~/assets/css/material-dashboard.css?v=3.0.4" rel="stylesheet" />
    
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" integrity="sha512-c42qTSw/wPZ3/5LBzD+Bw5f7bSF2oxou6wEb+I/lqeaKV5FDIfMvvRp772y4jcJLKuGUOpbJMdg/BTl50fJYAw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/11.1.9/sweetalert2.min.css" integrity="sha512-cyIcYOviYhF0bHIhzXWJQ/7xnaBuIIOecYoPZBgJHQKFPo+TOBA+BY1EnTpmM8yKDU4ZdI3UGccNGCEUdfbBqw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/11.1.9/sweetalert2.all.min.js" integrity="sha512-IZ95TbsPTDl3eT5GwqTJH/14xZ2feLEGJRbII6bRKtE/HC6x3N4cHye7yyikadgAsuiddCY2+6gMntpVHL1gHw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <link href="~/assets/css/stylesheet.css" rel="stylesheet" />
  <style>
      /*

     
        .client-info {
            

            display: flex;
            flex-direction: column;
            align-items: flex-start;
            width: 100%;
          
        }

        .client-info-container {
            display: flex;
            justify-content: space-evenly;
        }

        .client-info-box {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
            padding: 10px;
            width: 400px;
            margin: 10px;
            font-size: 28px;
            
            min-height: 100px;
            background-color: #d1d1d1;
            border-radius:10px;
        }

        */

        /*
        .client-control {
            width: 400px;
        }
        */
</style>



    @RenderSection("Styles", required: false)
</head>

<body class="g-sidenav-show rtl bg-gray-200">
  
    
    @if (isLogged)
    {

          <partial name="_RightSideBar.cshtml" />
    }
  <main class="main-content position-relative max-height-vh-100 h-100 border-radius-lg overflow-x-hidden">
    <!-- Navbar -->
    <nav class="navbar navbar-main navbar-expand-lg px-0 mx-4 shadow-none border-radius-xl" id="navbarBlur" data-scroll="true">
      <div class="container-fluid py-1 px-3">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb bg-transparent mb-0 pb-0 pt-1 px-0 ">
            @if (isLogged)
            {
                            
                <li class="breadcrumb-item fs-4 ps-2"><a class="opacity-5 text-dark" href="javascript:;">لوحة القيادة</a></li>
            }
          </ol>
        </nav>
        <div class="collapse navbar-collapse mt-sm-0 mt-2 px-0" id="navbar">
          <ul class="navbar-nav me-auto ms-0 justify-content-end">
            @if (!isLogged)
            {
                <li class="nav-item d-flex align-items-center">
                  <a asp-area="" asp-action="Login" asp-controller="Account" class="nav-link text-body font-weight-bold px-0 fs-4">
                    <i class="fa fa-user m-2 me-sm-1"></i>
                    <span class="d-sm-inline d-none">تسجيل الدخول</span>
                  </a>
                </li>
            }else{
                <li class="nav-item d-flex align-items-center">
                  <a href="/" class="nav-link text-body font-weight-bold px-0">
                    <i class="fa fa-user me-sm-1"></i>
                    <span class="d-sm-inline fs-4 d-none">مرحبا @User.FindFirst("fullName").Value</span>
                  </a>
                </li>
            }
            <li class="nav-item d-xl-none pe-3 d-flex align-items-center">
              <a href="javascript:;" class="nav-link text-body p-0" id="iconNavbarSidenav">
                <div class="sidenav-toggler-inner">
                  <i class="sidenav-toggler-line"></i>
                  <i class="sidenav-toggler-line"></i>
                  <i class="sidenav-toggler-line"></i>
                </div>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <!-- End Navbar -->
    <div class="container-fluid py-4">
            <div class="container">
                @RenderBody()
            </div>
    
            @if (!isLogged)
            {
                <partial name="_Footer.cshtml" />
            }

    </div>
  </main>

  
  <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"></script>
  <script src="~/lib/jquery-validate/jquery.validate.js"> </script>
  <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>

    <!--   Core JS Files   -->
    <script src="~/assets/js/core/popper.min.js"></script>
    <script src="~/assets/js/core/bootstrap.min.js"></script>
    <script src="~/assets/js/plugins/perfect-scrollbar.min.js"></script>
    <script src="~/assets/js/plugins/smooth-scrollbar.min.js"></script>
    <script src="~/limonte-sweetalert2/sweetalert2.all.js" asp-append-version="true"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.5.0/js/all.min.js" integrity = "sha512-YUwFoN1yaVzHxZ1cLsNYJzVt1opqtVLKgBQ+wDj+JyfvOkH66ck1fleCm8eyJG9O1HpKIf86HrgTXkWDyHy9HA==" crossorigin = "anonymous" referrerpolicy = "no-referrer" ></script>
    <script>
        var win = navigator.platform.indexOf('Win') > -1;
        if (win && document.querySelector('#sidenav-scrollbar')) {
            var options = {
                damping: '0.5'
            }
            Scrollbar.init(document.querySelector('#sidenav-scrollbar'), options);
        }
    </script>
    <!-- Github buttons -->
    <script async defer src="https://buttons.github.io/buttons.js"></script>
    <!-- Control Center for Material Dashboard: parallax effects, scripts for the example pages etc -->

  
    <script src="~/assets/js/material-dashboard.min.js?v=3.0.4"></script>
  @RenderSection("Scripts", required: false)
</body>

</html>