@model DetailsClientDTO

@{

    ViewData["Title"] = "تفاصيل العميل";
}



<input asp-for="ClientId" type="hidden" />
<div class="row mt-2">
    <div class="col-md-3">
         <label class="form-label" asp-for="ClientName"></label>
         <label class="font-weight-bold">@Model.ClientName</label>
    </div>
     <div class="col-md-3">
          <label class="form-label" asp-for="PhoneNumber"></label>
         <label class="font-weight-bold">@Model.PhoneNumber</label>
    </div>

    @if (!string.IsNullOrEmpty(Model.BillsFileOld))
    {
        <div class="col-md-3">
             <label class="form-label">الفاتورة</label>
             <a asp-area="" asp-controller="Client" asp-action="DownloadBills" asp-route-clientId="@Model.ClientId">حمل الفاتورة</a>
        </div>
    }

      <div class="col-md-3">
             <label class="form-label" asp-for="BillsFileNew">تحميل فاتورة جديده</label>
             <input asp-for="BillsFileNew" id="uploadNewBill" class="swal2-file" />
        </div>

  
    <div class="col-md-3">
        <label class="form-label" asp-for="Notes"></label>
        <textarea class="swal2-textarea">@Model.Notes</textarea>
    </div>


    @if (Model.OldOtherFiles.Count() > 0)
    {
        var i = 0 ;
        @foreach(var item in Model.OldOtherFiles)
        {
            
            <div class="col-md-3">
                 <label class="form-label" asp-for="@item.Description">@item.Description</label>
                 <input asp-for="@item.Description" type="file" id="uploadNewBill" class="swal2-file" />
            </div>

        }
    }



     <div class="col-md-3">
        <label class="form-label" id="">تحميل ملفات اخري جديده</label>
        <input  type="file" id="uploadNewBill" class="swal2-file" />
    </div>
</div>

@section Scripts{

    <script>
    
        $(document).ready(function () {
            $(document).on("click", "#selectDepartment", function () {
                var subCat = this;
                $.ajax({
                    url: "GetUsersByDepartmentId?departmentId=" + $(subCat).val(),
                    type: "GET",
                    contentType: "application/json; charset=utf-8",
                    datatype: JSON,
                    success: function (result) {
                        debugger;
                        var users = '<option selected disabled value="0">اختار الموظف</option>';
                        $(result).each(function () {
                            users = users + '<option value="' + this.id + '">' + this.value + '</option>'
                        });
                        var subCateList = $("#selectUsers");
                        subCateList.empty();
                        subCateList.append()
                        subCateList.append(users);
                    },
                    error: function (data) {
                        return "Error";
                    }
                });
            });
        });
</script>
}

