@model EmployeeAndHisClients


@{
    ViewData["Title"] = "تفاصيل الموظف";
}

<form asp-area="" asp-controller="account" asp-action="report" asp-route-userId="@Model.UserId">
    <input type="hidden" asp-for="Email" />
    <input type="hidden" asp-for="EmployeeCode" />
    <input type="hidden" asp-for="PhoneNumber" />
    <input type="hidden" asp-for="Name" />

    <div class="row mt-3">
        <h4 class="mt-3">تقرير عن الموظف</h4>
        <div class="col d-flex flex-column">
            <label class="form-label fs-5 me-2" asp-for="EmployeeCode"></label>
            <input class="custom-form-input" disabled asp-for="EmployeeCode" />
        </div>
         <div class="col d-flex flex-column">
                <label class="form-label fs-5 me-2" asp-for="From"></label>
            <input class="custom-form-input" asp-for="From" />
        </div>
        <div class="col d-flex flex-column">
                <label class="form-label fs-5 me-2" asp-for="To"></label>
            <input class="custom-form-input" asp-for="To" />
        </div>
         <div class="col d-flex align-items-end ">
            <button id="generateReport" class="btn btn-primary m-0">تحميل التقرير</button>
        </div>
    </div>
</form>


<div class="row mt-3 mb-3">
    <h4 class="mt-3">بياناتا الموظف</h4>
    <div class="col d-flex flex-column">
        <label class="form-label fs-5 me-2" asp-for="Name"></label>
            <input class="custom-form-input" disabled asp-for="Name" />
    </div>
    <div class="col col d-flex flex-column">
        <label class="form-label fs-5 me-2" asp-for="Email"></label>
            <input class="custom-form-input" disabled asp-for="Email" />
    </div>

    <div class="col col d-flex flex-column">
        <label class="form-label fs-5 me-2" asp-for="PhoneNumber"></label>
            <input class="custom-form-input" disabled asp-for="PhoneNumber" />
    </div>
</div>



<h4 class="mt-5">العملاء تم إنشائهم بواسطه @Model.Name</h4>
<div class="row card mt-5">
    <div class="d-flex justify-content-end align-items-center">
        <div class='col-xs-8 col-sm-7 col-md-4 col-lg-3 m-3'>
            <div class='navbar-form'>
                <div class='input-group tabel-search-box'>
                    <input id="searchInput" class='form-control client-created-search' type='text' data-search="search-client-input" placeholder='إبحث بإسم القسم' />
                    <button id="button-addon1" type='button' class='btn table-search d-flex'>
                        <i class="fas fa-search"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>

  <div class="table-responsive mt-2">
    <table class="table align-items-center mb-0">
      <thead>
        <tr>
            <th class="text-dark fs-5 font-weight-bolder">كود العميل</th>
            <th class="text-dark fs-5 font-weight-bolder">اسم العميل</th>
            <th class="text-dark fs-5 font-weight-bolder">رقم تلفون العميل</th>
            <th class="text-dark fs-5 font-weight-bolder"></th>
        </tr>
      </thead>
      <tbody id="data-client-who-created-table" class="pb-2">
                @foreach(var record in Model.ClientsWhoCreated)
                {
                    <tr>
                        <td>
                        <div class="d-flex px-2">
                          <div class="my-auto">
                            <h6 class="mb-0 fs-6">@record.ClientCode</h6>
                          </div>
                        </div>
                      </td>
                      <td>
                        <div class="d-flex px-2">
                          <div class="my-auto">
                            <h6 class="mb-0 fs-6">@record.Name</h6>
                          </div>
                        </div>
                      </td>
                      <td>
                        <h6 dir="rtl" class="fs-6 mb-0">@record.PhoneNumber</h6>
                      </td>
                      <td class="align-middle">
                          <a class="text-secondary font-weight-bold text-xs" asp-area="" asp-action="details" asp-controller="Client" asp-route-clientId="@record.ClientId">
                            <span class="material-symbols-outlined fs-6">
                              <i title="تفاصيل" class="material-icons-round opacity-10">info</i>
                            </span>
                          </a>

                             <a class="del-record text-secondary font-weight-bold text-xs" data-id="@record.ClientId">
                            <span class="material-symbols-outlined">
                              <i title="تفاصيل" class="material-icons-round opacity-10">delete</i>
                            </span>
                          </a>
                      </td>
                </tr>

                }
      </tbody>
    </table>
  </div>
 
  </div>


<h4 class="mt-5">العملاء تم التعامل معاهم بواسطه @Model.Name</h4>

<div class="row card mt-5">

    <div class="d-flex justify-content-end align-items-center">
        <div class='col-xs-8 col-sm-7 col-md-4 col-lg-3 m-3'>
            <div class='navbar-form'>
                <div class='input-group tabel-search-box'>
                    <input id="searchInput" class='form-control client-handled-search' type='text' data-search="search-handled-input" placeholder='إبحث بإسم القسم' />
                    <button id="button-addon1" type='button' class='btn table-search d-flex'>
                        <i class="fas fa-search"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>

  <div class="table-responsive">
    <table class="table align-items-center mb-0">
      <thead>
        <tr>
          <th class="text-dark fs-5 font-weight-bolder">كود العميل</th>
          <th class="text-dark fs-5 font-weight-bolder">اسم العميل</th>
          <th class="text-dark fs-5 font-weight-bolder">رقم تلفون العميل</th>
          <th class="text-dark fs-5 font-weight-bolder"></th>
         
        </tr>
      </thead>
      <tbody id="data-client-who-handled-table">
                @foreach(var record in Model.ClientsWhoHandled)
                {
                    <tr>
                        <td>
                        <div class="d-flex px-2">
                          <div class="my-auto">
                            <h6 class="mb-0 fs-6">@record.ClientCode</h6>
                          </div>
                        </div>
                      </td>
                      <td>
                        <div class="d-flex px-2">
                          <div class="my-auto">
                            <h6 class="mb-0 fs-6">@record.Name</h6>
                          </div>
                        </div>
                      </td>
                      <td>
                        <h6 dir="rtl" class="fs-6 mb-0">@record.PhoneNumber</h6>
                      </td>
                      <td class="align-middle">
                          <a class="text-secondary font-weight-bold text-xs" asp-area="" asp-action="details" asp-controller="Client" asp-route-clientId="@record.ClientId">
                            <span class="material-symbols-outlined">
                              <i title="تفاصيل" class="material-icons-round opacity-10">info</i>
                            </span>
                          </a>

                             <a class="del-record text-secondary data-id="@record.ClientId" font-weight-bold text-xs">
                            <span class="material-symbols-outlined">
                              <i title="تفاصيل" class="material-icons-round opacity-10" >delete</i>
                            </span>
                          </a>
                      </td>
                </tr>

                }
      </tbody>
    </table>
  </div>
  </div>

  
@section Scripts {


    <script>

        $(document).on('change','.client-handled-search', function(){
            const inputEle = document.querySelector('[data-search="search-handled-input"]')
               $.ajax({
                        url: `/client/SearchClient?userNameOrCode=${inputEle.value}&heCreated=false`,
                        type:"Get",
                        success: (data) => {
                              $("#data-client-who-handled-table").find("tr").remove();
                              data.forEach(element => {
                                  debugger;
                                  let dateHijri = element.createdAt;
                                  $("#data-client-who-handled-table").append(`
                                      <tr>
                                        <td>
                                        <div class="d-flex px-2">
                                            <div class="my-auto">
                                            <h6 class="mb-0 fs-6">${element.code}</h6>
                                            </div>
                                        </div>
                                        </td>
                                        <td>
                                        <div class="d-flex px-2">
                                            <div class="my-auto">
                                            <h6 class="mb-0 fs-6">${element.clientName}</h6>
                                            </div>
                                        </div>
                                        </td>
                                        <td>
                                        <h6 dir="rtl" class="fs-6 mb-0">${element.phoneNumber}</h6>
                                        </td>
                                        <td class="align-middle">
                                            <a class="text-secondary font-weight-bold text-xs" href="/Client/details/${element.id}" >
                                            <span class="material-symbols-outlined fs-6">
                                                <i title="تفاصيل" class="material-icons-round opacity-10">info</i>
                                            </span>
                                            </a>
                                               <a class="del-record text-secondary font-weight-bold text-xs" data-id="${element.id}" >
                                                <span class="material-symbols-outlined">
                                                    <i title="مسح" class="material-icons-round opacity-10" >delete</i>
                                                </span>
                                            </a>
                                        </td>
                                    </tr>
                              
                                  `)
                              });


                        },
                        error: function (eventFromParam) {
                            Swal.fire({
                                title: 'خطأ اثناء البحث',
                            })
                        }
                    })
        });


        $(document).on('change','.client-created-search', function(){
            const inputEle = document.querySelector('[data-search="search-client-input"]')
               $.ajax({
                        url: `/client/SearchClient?userNameOrCode=${inputEle.value}&heCreated=true`,
                        type:"Get",
                        success: (data) => {
                              $("#data-client-who-created-table").find("tr").remove();
                              data.forEach(element => {
                                  debugger;
                                  let dateHijri = element.createdAt;
                                  $("#data-client-who-created-table").append(`
                                      <tr>
                                        <td>
                                        <div class="d-flex px-2">
                                            <div class="my-auto">
                                            <h6 class="mb-0 fs-6">${element.code}</h6>
                                            </div>
                                        </div>
                                        </td>
                                        <td>
                                        <div class="d-flex px-2">
                                            <div class="my-auto">
                                            <h6 class="mb-0 fs-6">${element.clientName}</h6>
                                            </div>
                                        </div>
                                        </td>
                                        <td>
                                        <h6 dir="rtl" class="fs-6 mb-0">${element.phoneNumber}</h6>
                                        </td>
                                        <td class="align-middle">
                                            <a class="text-secondary font-weight-bold text-xs" href="/Client/details/${element.id}" >
                                            <span class="material-symbols-outlined fs-6">
                                                <i title="تفاصيل" class="material-icons-round opacity-10">info</i>
                                            </span>
                                            </a>
                                               <a class="del-record text-secondary font-weight-bold text-xs" data-id="${element.id}" >
                                                <span class="material-symbols-outlined">
                                                    <i title="مسح" class="material-icons-round opacity-10" >delete</i>
                                                </span>
                                            </a>
                                        </td>
                                    </tr>
                              
                                  `)
                              });


                        },
                        error: function (eventFromParam) {
                            Swal.fire({
                                title: 'خطأ اثناء البحث',
                            })
                        }
                    })
        });


        $(document).on('click','.del-record',function(){
            debugger;
            var id = $(this).data("id");
            var data = { id };
            Swal.fire({
              title: 'هل أنت متأكد من أنك تريد المسح؟',
              text: "أنت لا تستطيع ارجاع عن هذا الاجراء بعد ذلك",
              icon: 'warning',
              showCancelButton: true,
              confirmButtonColor: '#3085d6',
              cancelButtonColor: '#d33',
              confirmButtonText: 'نعم !',
              cancelButtonText: 'إالغاء !'
            }).then((result) => {
              if (result.isConfirmed) {
                  debugger;
                    $.ajax({
                        url: '/client/delete',
                        type:"POST",
                        contentType: 'application/x-www-form-urlencoded',
                        data: data,
                        success: (data) => {
                            $(this).parent().parent().remove();
                            Swal.fire(
                              'مسح!',
                              'تم المسح بنجاح.',
                              'تم'
                            )
                        },
                        error: function (eventFromParam) {
                            debugger;
                            console.log(eventFromParam.responseText);
                            console.log(eventFromParam.status);
                            console.log(eventFromParam.responseJSON);
                            console.log(eventFromParam.statusText);
                            Swal.fire({
                                title: 'خطأ اثناء المسح',
                                text:"يجب مسح العملاء المرتبطتين بهذا الموظف"
                            })
                        }
                    })
              }
            })
        });
    </script>
}



