@model GenerateReportDTO

@inject Microsoft.AspNetCore.Hosting.IHostingEnvironment env


@{
    var logo = env.WebRootFileProvider.GetFileInfo("assets/img/dark.png")?.PhysicalPath;
}







<div class="row mt-3 mb-3">
    <h4 class="mt-3">بياناتا الموظف</h4>
    <div class="col d-flex flex-column">
        <label class="form-label fs-5 me-2" asp-for="EmployeeName"></label>
            <input class="custom-form-input" disabled asp-for="EmployeeName" />
    </div>
    <div class="col col d-flex flex-column">
        <label class="form-label fs-5 me-2" asp-for="EmployeeEmail"></label>
        <input class="custom-form-input" disabled asp-for="EmployeeEmail" />
    </div>

    <div class="col col d-flex flex-column">
        <label class="form-label fs-5 me-2" asp-for="PhoneNumber"></label>
            <input class="custom-form-input" disabled asp-for="PhoneNumber" />
    </div>
</div>



<div class="row card mt-5">
    <div class="d-flex justify-content-between align-items-center">
        <h4 class="mt-3">العملاء تم إنشائهم بواسطه @Model.EmployeeName</h4>
        <div class="tabel-search-box mt-4 ms-9" >
            <input type="text" class="client-created-search table-search border-0" data-search="search-client-input"  placeholder="بحث بالأسم أو الكود" aria-label="Example text with button addon" aria-describedby="button-addon1">
            <button class="table-search" type="button" id="button-addon1">
                <i class="fas fa-search"></i>
            </button>
        </div>
    </div>
  <div class="table-responsive mt-2">
    <table class="table align-items-center mb-0">
      <thead>
        <tr>
          <th class="text-uppercase text-secondary font-weight-bolder opacity-7 fs-5">كود العميل</th>
                    <th class="text-uppercase text-secondary  font-weight-bolder opacity-7 fs-5">اسم العميل</th>
                    <th class="text-uppercase text-secondary  font-weight-bolder opacity-7 ps-2 fs-5">رقم تلفون العميل</th>
                    <th class="text-uppercase text-secondary  font-weight-bolder opacity-7 ps-2 fs-5">حالة</th>
         
        </tr>
      </thead>
      <tbody id="data-client-who-created-table" class="pb-2">
                @foreach(var record in Model.ClientsCreatedBy)
                {
                    <tr>
                        <td>
                        <div class="d-flex px-2">
                          <div class="my-auto">
                            <h6 class="mb-0 fs-6">@record.ClientCode</h6>
                          </div>
                        </div>
                      </td>
                      <td>
                        <div class="d-flex px-2">
                          <div class="my-auto">
                            <h6 class="mb-0 fs-6">@record.ClientName</h6>
                          </div>
                        </div>
                      </td>
                      <td>
                        <h6 dir="rtl" class="fs-6 mb-0">@record.ClientPhone</h6>
                      </td>
                     <td>
                        <h6 dir="rtl" class="fs-6 mb-0">@(record.ClientStatus.GetAttribute<DisplayAttribute>().Name)</h6>
                     </td>
                </tr>

                }
      </tbody>
    </table>
  </div>
 
  </div>


<div class="row card mt-5">
    <div class="d-flex justify-content-between align-items-center">
        <h4 class="mt-3">العملاء تم التعامل معاهم بواسطه @Model.EmployeeName</h4>
        <div class="tabel-search-box mt-4 ms-9">
            <input type="text" class="client-handled-search table-search border-0" data-search="search-handled-input"  placeholder="بحث بالأسم أو الكود" aria-label="Example text with button addon" aria-describedby="button-addon1">
            <button class="table-search" type="button" id="button-addon1">
                <i class="fas fa-search"></i>
            </button>
        </div>
    </div>

  <div class="table-responsive">
    <table class="table align-items-center mb-0">
      <thead>
        <tr>
          <th class="text-uppercase text-secondary font-weight-bolder opacity-7 fs-5">كود العميل</th>
          <th class="text-uppercase text-secondary font-weight-bolder opacity-7 fs-5">اسم العميل</th>
          <th class="text-uppercase text-secondary font-weight-bolder opacity-7 fs-5 ps-2">رقم تلفون العميل</th>
          <th class="text-uppercase text-secondary font-weight-bolder opacity-7 fs-5 ps-2">حالة</th>
         
        </tr>
      </thead>
      <tbody id="data-client-who-handled-table">
                @foreach(var record in Model.ClientsHandledBy)
                {
                    <tr>
                        <td>
                        <div class="d-flex px-2">
                          <div class="my-auto">
                            <h6 class="mb-0 fs-6">@record.ClientCode</h6>
                          </div>
                        </div>
                      </td>
                      <td>
                        <div class="d-flex px-2">
                          <div class="my-auto">
                            <h6 class="mb-0 fs-6">@record.ClientName</h6>
                          </div>
                        </div>
                      </td>
                      <td>
                        <h6 dir="rtl" class="fs-6 mb-0">@record.ClientPhone</h6>
                      </td>
                      <td class="align-middle">
                            <h6 dir="rtl" class="fs-6 mb-0">@(record.ClientStatus.GetAttribute<DisplayAttribute>().Name)</h6>
                      </td>
                </tr>

                }
      </tbody>
    </table>
  </div>
  </div>



