@model IEnumerable<BaseUser>


<div class="container-fluid py-4">
    <div class="row">
        <div class="col-lg-3 col-sm-6 mb-lg-0 mb-4">
            <div class="card">
                <div class="card-header p-3 pt-2">
                  <div class="icon icon-lg icon-shape bg-gradient-dark shadow-dark text-center border-radius-xl mt-n4 position-absolute">
                    <i class="material-icons opacity-10">person</i>
                  </div>
                  <div class="text-start pt-1">
                    <p class="text-sm mb-0 text-capitalize">حساب المدير العام </p>
                  </div>
                </div>
                <hr class="dark horizontal my-0">
                <div class="card-footer p-3">
                  <p class="mb-0 text-start">
                  <span class="text-success text-sm font-weight-bolder ms-1">
                      <a asp-area="" asp-controller="Account" asp-action="register" asp-route-accountType="1" >
                          تسجيل حساب جديد
                      </a>
                    </span>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-sm-6 mb-lg-0 mb-4">
            <div class="card">
                <div class="card-header p-3 pt-2">
                  <div class="icon icon-lg icon-shape bg-gradient-dark shadow-dark text-center border-radius-xl mt-n4 position-absolute">
                    <i class="material-icons opacity-10">person</i>
                  </div>
                  <div class="text-start pt-1">
                    <p class="text-sm mb-0 text-capitalize">حساب مشرف المشاريع </p>
                  </div>
                </div>
                <hr class="dark horizontal my-0">
                <div class="card-footer p-3">
                  <p class="mb-0 text-start">
                  <span class="text-success text-sm font-weight-bolder ms-1">
                      <a asp-area="" asp-controller="Account" asp-action="register"  asp-route-accountType="2" >
                          تسجيل حساب جديد
                      </a>
                    </span>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-sm-6 mb-lg-0 mb-4">
            <div class="card">
                <div class="card-header p-3 pt-2">
                  <div class="icon icon-lg icon-shape bg-gradient-dark shadow-dark text-center border-radius-xl mt-n4 position-absolute">
                    <i class="material-icons opacity-10">person</i>
                  </div>
                  <div class="text-start pt-1">
                    <p class="text-sm mb-0 text-capitalize">حساب سكرتير تنفيذي </p>
                  </div>
                </div>
                <hr class="dark horizontal my-0">
                <div class="card-footer p-3">
                  <p class="mb-0 text-start">
                  <span class="text-success text-sm font-weight-bolder ms-1">
                      <a asp-area="" asp-controller="Account" asp-action="register"  asp-route-accountType="3">
                          تسجيل حساب جديد
                      </a>
                    </span>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-sm-6 mb-lg-0 mb-4">
            <div class="card">
                <div class="card-header p-3 pt-2">
                  <div class="icon icon-lg icon-shape bg-gradient-dark shadow-dark text-center border-radius-xl mt-n4 position-absolute">
                    <i class="material-icons opacity-10">person</i>
                  </div>
                  <div class="text-start pt-1">
                    <p class="text-sm mb-0 text-capitalize">حساب شؤون موظفين</p>
                  </div>
                </div>
                <hr class="dark horizontal my-0">
                <div class="card-footer p-3">
                  <p class="mb-0 text-start">
                  <span class="text-success text-sm font-weight-bolder ms-1">
                      <a asp-area="" asp-controller="Account" asp-action="register"  asp-route-accountType="4">
                          تسجيل حساب جديد
                      </a>
                    </span>
                    </p>
                </div>
            </div>
        </div> 
    </div>

    <div class="row mt-5">
          <div class="col-lg-3 col-sm-6 mb-lg-0 mb-4">
            <div class="card">
                <div class="card-header p-3 pt-2">
                  <div class="icon icon-lg icon-shape bg-gradient-dark shadow-dark text-center border-radius-xl mt-n4 position-absolute">
                    <i class="material-icons opacity-10">person</i>
                  </div>
                  <div class="text-start pt-1">
                    <p class="text-sm mb-0 text-capitalize">حساب تسويق</p>
                  </div>
                </div>
                <hr class="dark horizontal my-0">
                <div class="card-footer p-3">
                  <p class="mb-0 text-start">
                  <span class="text-success text-sm font-weight-bolder ms-1">
                      <a asp-area="" asp-controller="Account" asp-action="register"  asp-route-accountType="5">
                          تسجيل حساب جديد
                      </a>
                    </span>
                    </p>
                </div>
            </div>
        </div>
          <div class="col-lg-3 col-sm-6 mb-lg-0 mb-4">
            <div class="card">
                <div class="card-header p-3 pt-2">
                  <div class="icon icon-lg icon-shape bg-gradient-dark shadow-dark text-center border-radius-xl mt-n4 position-absolute">
                    <i class="material-icons opacity-10">person</i>
                  </div>
                  <div class="text-start pt-1">
                    <p class="text-sm mb-0 text-capitalize">حساب مراقب مشاريع </p>
                  </div>
                </div>
                <hr class="dark horizontal my-0">
                <div class="card-footer p-3">
                  <p class="mb-0 text-start">
                  <span class="text-success text-sm font-weight-bolder ms-1">
                      <a asp-area="" asp-controller="Account" asp-action="register"  asp-route-accountType="6">
                          تسجيل حساب جديد
                      </a>
                    </span>
                    </p>
                </div>
            </div>
        </div>
          <div class="col-lg-3 col-sm-6 mb-lg-0 mb-4">
            <div class="card">
                <div class="card-header p-3 pt-2">
                  <div class="icon icon-lg icon-shape bg-gradient-dark shadow-dark text-center border-radius-xl mt-n4 position-absolute">
                    <i class="material-icons opacity-10">person</i>
                  </div>
                  <div class="text-start pt-1">
                    <p class="text-sm mb-0 text-capitalize">حساب ماليه</p>
                  </div>
                </div>
                <hr class="dark horizontal my-0">
                <div class="card-footer p-3">
                  <p class="mb-0 text-start">
                  <span class="text-success text-sm font-weight-bolder ms-1">
                      <a asp-area="" asp-controller="Account" asp-action="register" asp-route-accountType="8">
                          تسجيل حساب جديد
                      </a>
                    </span>
                    </p>
                </div>
            </div>
        </div>

           <div class="col-lg-3 col-sm-6 mb-lg-0 mb-4">
            <div class="card">
                <div class="card-header p-3 pt-2">
                  <div class="icon icon-lg icon-shape bg-gradient-dark shadow-dark text-center border-radius-xl mt-n4 position-absolute">
                    <i class="material-icons opacity-10">person</i>
                  </div>
                  <div class="text-start pt-1">
                    <p class="text-sm mb-0 text-capitalize">حساب مهندس مشاريع</p>
                  </div>
                </div>
                <hr class="dark horizontal my-0">
                <div class="card-footer p-3">
                  <p class="mb-0 text-start">
                  <span class="text-success text-sm font-weight-bolder ms-1">
                      <a asp-area="" asp-controller="Account" asp-action="register"  asp-route-accountType="7">
                          تسجيل حساب جديد
                      </a>
                    </span>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="container-fluid py-4">

     <h4 class="mt-3">أسماء الموظفين</h4>

    <div class="card row ">

        <div class="d-flex justify-content-end align-items-center">
            <div class='col-xs-8 col-sm-7 col-md-4 col-lg-3 m-3'>
                <div class='navbar-form'>
                    <div class='input-group tabel-search-box'>
                        <input id="searchInput" class='form-control table-search' type='text' data-search="search-input" placeholder='إبحث بإسم القسم' />
                        <button id="button-addon1" type='button' class='btn table-search d-flex'>
                            <i class="fas fa-search"></i>
                        </button>
                    </div>
                </div>

            </div>
        </div>

      <div class="table-responsive">
        <table class="table table-hover align-items-center mb-0">
          <thead>
            <tr>
              <th class="text-dark fs-5 font-weight-bolder">كود الموظف</th>
              <th class="text-dark fs-5 font-weight-bolder">اسم الموظف</th>
              <th class="text-dark fs-5 font-weight-bolder">رقم تلفون</th>
              <th class="text-dark fs-5 font-weight-bolder"></th>
         
            </tr>
          </thead>
          <tbody id="data-table">
                    @foreach(var record in Model)
                    {
                        <tr>
                            <td class="d-flex px-2">
                                <div class="my-auto">
                                    <h6 class="mb-0 fs-6" >@record.Code</h6>
                                </div>
                            </td>
                          <td>
                            <div class="d-flex px-2">
                              <div class="my-auto">
                                <h6 class="mb-0 fs-6">@record.FirstName @record.LastName</h6>
                              </div>
                            </div>
                          </td>
                          <td>
                            <p dir="rtl" class="fs-6 font-weight-normal mb-0">@record.PhoneNumber</p>
                          </td>
                          <td class="align-middle">
                              <a class="text-secondary font-weight-bold text-xs m-2" asp-area="" asp-action="detailsOfEmployee" asp-controller="Account" asp-route-userId="@record.Id">
                                <span class="material-symbols-outlined">
                                  <i title="تفاصيل" class="material-icons-round opacity-10">info</i>
                                </span>
                              </a>

                        <a class="del-record text-secondary font-weight-bold text-xs m-2" data-id="@record.Id" href="#">
                            <span class="material-symbols-outlined">
                              <i title="مسح" class="material-icons-round opacity-10">delete</i>
                            </span>
                          </a> 
                          </td>
                    </tr>

                    }
          </tbody>
        </table>
      </div>
      </div>


          
</div>

@section Scripts {
    <script src="~/customjavascript/account/accountindex/index.js"></script>

}